<div class="container mt-5">
  <h3>About me</h3>
  <p>
    My name is Javid Asgarov (my <a href="https://www.linkedin.com/in/asgarovjavid/" target="_blank"
                                    rel="noopener noreferrer"> LinkedIn</a>),
    I am a Software Developer living in Vienna, Austria (the one with Mozart, not the Kangaroos:)
  </p>
  <p>
    I tend to specialize in Java and Deployment Automation but I do quite a bit of Angular as well.
  </p>
  <h4>About this Blog</h4>
  <p>
    Fun fact, this minimalistic blog is written with Angular
    with blog posts read from markdown files, hosted on AWS with no Backend. Pros of this approach is that my
    deployments are extremely simple, cons you don't have the possibility to leave a comment and would have to email me instead
    (the irony is not lost on me, a java dev who couldn't be bothered to set up a backend).
  </p>
  <p>In this blog I mostly just write down things I find useful and might want to lookup in the future. Occasionally the
    posts seem to be useful for other people as well, which is always nice.</p>
  <h4>Also</h4>
  <p>Check out some IntelliJ/JetBrains IDE plugins that I wrote (they are free) - perhaps useful for you as well.</p>
  <ul>
    <li><a href="https://plugins.jetbrains.com/plugin/17957-unicodifier" target="_blank" rel="noopener noreferrer">Unicodifier</a>
    </li>
    <li><a href="https://plugins.jetbrains.com/plugin/18016-java-controller-finder" target="_blank"
           rel="noopener noreferrer">Java Controller Finder</a></li>
    <li><a href="https://plugins.jetbrains.com/plugin/18783-commit-checker" target="_blank" rel="noopener noreferrer">Commit
      Checker</a></li>
  </ul>

  <hr>
  <h4>Contact info</h4>
  <p>
    Feel free to drop me an email at <a href="mailto:asgarov1@gmail.com">asgarov1@gmail.com</a>
    or send me a message on <a href="https://www.linkedin.com/in/asgarovjavid/" target="_blank"
                               rel="noopener noreferrer">linkedIn</a>.
  </p>
</div>
